@import url(../css/style.css);

/*Perfil*/
/*---------------------------------------------------------------------------------------------*/

#perfil{
    font-size: 2.5rem;
    font-weight: medium;
    gap: 1.5rem;
}

#info{
    align-items: center;
    justify-content: center;
}

/* Efeito de flip para a foto do perfil */

.flip-card{
    background-color: transparent;
    width: 20rem;
    height: 20rem;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}

.flip-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-inner{
    transform: rotateY(180deg);
}
    

.frente, .verso{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.verso{
    transform: rotateY(180deg);
}

/*---------------------------------------------------------------------------------------------*/

/*Contato*/
/*---------------------------------------------------------------------------------------------*/

a{
    text-decoration: none;
    color: var(--roxo);
    font-size: 1.5rem;
    font-weight: medium;
    text-decoration: none;
}
 



#contato{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

/*---------------------------------------------------------------------------------------------*/