/*Geral*/
/*---------------------------------------------------------------------------------------------*/

*{
    margin:0;
    padding:0;
}

:root{
    --roxo: #77537b;
    --branco: #dcdcdc;
    --preto1: #2a2a2a;
    --preto2: #000000;
    font-family: Zain, sans-serif;
}



@font-face {
    font-family: 'Zain';
    src: url('/assets/fonts/Zain-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

main{
    background-color: var(--preto2);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    padding-top: 4rem;
    height: 100%;
}

/*Header*/

.header{
   background-color: var(--branco);
   border-radius: 3rem;
   display: flex;
   flex-direction: row;
   size: min-content;
   justify-content: left;
   vertical-align: center;
   padding: 1.5rem;
   gap: 1rem;
   margin: auto;
   width: 85%;
   margin-top: 3rem;
   flex-wrap: wrap;
}

.header .idioma-selector{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-left: auto;
}

.idioma-selector button{
    background-color: var(--preto1);
    color: var(--branco);
    font-size: 1rem;
    cursor: pointer;
    font-weight: medium;
}

.idioma-selector button:hover{
    background-color: var(--roxo);
    color: var(--branco);
    font-size: 1rem;
    cursor: pointer;
    font-weight: medium;
}

#icon{
    width: 2.5rem;
    height: 2.5rem;
}

.header p{
    color: var(--preto1);
    font-size: 2rem;
    font-weight: medium;
    margin-left: 0;
}

/*Janela*/

.janela{
    border-radius: 1rem;
    border: var(--branco) 5px solid;
    background-image: url(/assets/img/estrelas.jpg);
    background-repeat: repeat;
    background-size: 23.5rem;
    flex-wrap: wrap;
    height: max-content;
    width: 80%;
    margin: auto;
    margin-top: 3rem;
    overflow-x:scroll;
}


.secao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    height: max-content;
    align-items: center;  
    color: var(--branco);   
    text-align: center;
    min-height: fit-content;
    flex-wrap: wrap;
    overflow-x:scroll;
}

.divisao{
    background-image: url("/assets/img/Design\ sem\ nome.svg");
    background-repeat: repeat;
    background-size: 12rem;
    height: 1.5rem;
    width: 100%;
    border: 1.5px solid var(--branco);
}


/*Links*/

.links{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.link{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

.botao{
    width: 1.5rem;
    height: 1.5rem;
    visibility: hidden;
}

.link:hover .botao{
    visibility: visible;
    pointer-events: auto;  
}
/*---------------------------------------------------------------------------------------------*/

/*Títulos*/

.titulo{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    vertical-align: center;
    justify-content: center;
}

.titulo img{
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.5rem 0;
    rotate: 65deg;
}

button{
    text-decoration: none;
    font-family: 'Zain', cursive;
    background-color: var(--roxo);
    color: var(--branco);
    border: none;
    cursor: pointer;
    border-radius: 3rem;
    padding: 0.5rem 2rem;
    width: min-content;
    height: min-content;
    font-weight: medium;
    font-size: 1rem;
}

button:hover{
    background-color: var(--branco);
    color: var(--roxo);
}



h1{
    font-size: 4rem;
    font-weight: bold;
    }

h2{
    font-size: 3.2rem;
    font-weight: medium;
    }

p{
    font-size: 2rem;
    font-weight: light;
}

strong{
    font-weight: bold;
}

a{
    text-decoration: none;
    color: var(--roxo);
    font-size: 2rem;
    font-weight: medium;
    text-decoration: none;
}

h3{
    font-size: 2.6rem;
    font-weight: medium;
    color: var(--roxo);
}

li{
    list-style-type: none;
    font-size: 1.5rem;
}

iframe{
    padding: 0;
    margin: 0;
    width: 100%;
    position: fixed;
    z-index: 1000;
}



