*{
    margin:0;
    padding:0;
}

:root{
    --roxo: #855f87;
    --branco: #dcdcdc;
    --preto: #2a2a2a;
}

body{
    background-image: url("../assets/img/estrelas.jpg");
    background-repeat: repeat;   
    padding: 2.5rem;
}

.janela{
    border-radius: 1rem;
    border: var(--branco) 2px solid;
    background-color: rgba(42, 42, 42, 0.40);
    margin-top: 1.5rem;
}

#header{
   background-color: var(--branco);
   border-radius: 3rem;
   display: flex;
   flex-direction: row;
   size: min-content;
   justify-content: left;
   vertical-align: center;
   padding: 1.5rem;
   gap: 1rem;
}

#planeta{
    width: 2.5rem;
    height: 2.5rem;
}

#header p{
    color: var(--preto);
    font-size: 2rem;
    font-weight: medium;
    margin-left: 0;
}

#banner{
    width: 100%;
    height: 15rem;
}

#título{
    color: var(--branco);
    font-size: 2.5rem;
    font-weight: medium;
    padding: 1.5rem;
}

#banner{
    background-image: url("/assets/img/espiral.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 15rem;
    width: 100%;
}