*{
    margin:0;
    padding:0;
}

:root{
    --roxo: #724c74;
    --branco: #dcdcdc;
    --preto: #2a2a2a;
}

body{
    background-color: black;
}

.janela{
    border-radius: 1rem;
    border: var(--branco) 5px solid;
    background-image: url(/assets/img/estrelas.jpg);
    background-repeat: repeat;
    margin-top: 1.5rem;
    margin: 2.5rem;
}

#header{
   background-color: var(--branco);
   border-radius: 3rem;
   display: flex;
   flex-direction: row;
   size: min-content;
   justify-content: left;
   vertical-align: center;
   padding: 1.5rem;
   gap: 1rem;
   margin: 2.5rem;
}

#icon{
    width: 2.5rem;
    height: 2.5rem;
}

#header p{
    color: var(--preto);
    font-size: 2rem;
    font-weight: medium;
    margin-left: 0;
}
#perfil{
    color: var(--branco);
    font-size: 2.5rem;
    font-weight: medium;
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.banner{
    background-image: url("/assets/img/Design\ sem\ nome.svg");
    background-repeat: repeat;
    background-size: 15rem;
    height: 3rem;
    width: 100%;
}

#foto img{
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
}

#foto{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

#info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;
    height: max-content;
    align-items: start; 
}

hr{
    border: 2.5px solid var(--branco);

}

#redes-sociais a{
    color: var(--roxo);
    font-size: 1.5rem;
    font-weight: medium;
    text-decoration: none;
}

#redes-sociais{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    padding: 1.5rem;
    background-size: 25rem;
}

.link{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

.botao{
    width: 1.5rem;
    height: 1.5rem;
}